<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎣 Routine Chat</title>
</head>
<body>
    <header>
        <h1>🎣 Routine Chat</h1>
        <p id="status">
            <span id="status-text">Disconnected</span>
            <span id="status-room">No room selected</span>
            <span id="status-number" style="display: none;">0</span>
        </p>
        <button onclick="disconnect()" id="disconnect-button" style="display: none;">Disconnect</button>
    </header>

    <section id="rooms">
        <h2>Connect to a room</h2>
        <input type="text" id="roomId" placeholder="Room ID">
        <button onclick="connectToRoom()">Connect</button>
    </section>

    <section id="chat" style="display: none;">
        <input type="text" id="message" placeholder="Message">
        <div id="messages"></div>
        <button onclick="sendMessage()">Send</button>
    </section>
    
    <script>
        let ws;

        function connectToRoom() {
            const roomId = document.getElementById("roomId").value;
            if (!roomId) return console.error("Room ID is required");

            ws = new WebSocket("ws://localhost:3333/ws?roomId=" + roomId);
            console.info(`Connected to the chat room: ${roomId} 🐡`);

            document.getElementById("status-text").textContent = "Connected";
            document.getElementById("status-room").textContent = roomId;
            document.getElementById("status-number").style.display = "inline";
            document.getElementById("status-number").textContent = "0";
            document.getElementById("disconnect-button").style.display = "inline";

            document.getElementById("rooms").style.display = "none";
            document.getElementById("chat").style.display = "block";

            ws.onmessage = function(event) {
                try {
                    const data = JSON.parse(event.data);
                    if (data.number !== undefined && data.roomId !== undefined) {
                        document.getElementById("status-number").textContent = data.number;
                    } else {
                        addMessage(event.data);
                    }
                } catch (e) {
                    addMessage(event.data);
                }
            }

            ws.onclose = function() {
                console.info("Disconnected from the chat room 🐡");

                document.getElementById("status-text").textContent = "Disconnected";
                document.getElementById("status-room").textContent = "No room selected";
                document.getElementById("status-number").style.display = "none";
                document.getElementById("disconnect-button").style.display = "none";
                document.getElementById("roomId").value = "";
                document.getElementById("roomId").focus();
                document.getElementById("roomId").disabled = false;

                document.getElementById("rooms").style.display = "block";
                document.getElementById("chat").style.display = "none";

                document.getElementById("messages").value = "";
                document.getElementById("messages").disabled = true;
            }
        }


        function sendMessage() {
            if (!ws) return console.error("Not connected to a chat room");
            ws.send(document.getElementById("message").value);
            document.getElementById("message").value = "";
            document.getElementById("message").focus();
        }
        
        function addMessage(message) {
            const messages = document.getElementById("messages");
            const messageElement = document.createElement("div");
            messageElement.textContent = message;
            messages.appendChild(messageElement);
        }

        function disconnect() {
            if (!ws) return console.error("Not connected to a chat room");
            ws.close();
        }
    </script>
</body>
</html>