<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎣 Routine Chat</title>
</head>
<body>
    <h1>🎣 Routine Chat</h1>

    <section id="rooms">
        <h2>Connect to a room</h2>
        <input type="text" id="roomId" placeholder="Room ID">
        <button onclick="connectToRoom()">Connect</button>
    </section>

    <section id="chat" style="display: none;">
        <input type="text" id="message" placeholder="Message">
        <div id="messages"></div>
        <button onclick="sendMessage()">Send</button>
    </section>
    
    <script>
        let ws;

        function connectToRoom() {
            const roomId = document.getElementById("roomId").value;
            if (!roomId) return console.error("Room ID is required");

            ws = new WebSocket("ws://localhost:3333/ws?roomId=" + roomId);
            console.info(`Connected to the chat room: ${roomId} 🐡`);

            document.getElementById("rooms").style.display = "none";
            document.getElementById("chat").style.display = "block";

            ws.onmessage = function(event) {
                addMessage(event.data);
            }
        }


        function sendMessage() {
            ws.send(document.getElementById("message").value);
        }
        
        function addMessage(message) {
            const messages = document.getElementById("messages");
            const messageElement = document.createElement("div");
            messageElement.textContent = message;
            messages.appendChild(messageElement);
        }
    </script>
</body>
</html>